<html>
	<head>
		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
		<link href="css/mypage.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="java_script/mypage.js"></script>
	</head>

	<body>
		<div class="wrapper">
			<form class="signin">
				<input type="text" class="control" name="username" size=31 placeholder="Username" required="" autofocus=""/>
				<input type="password" class="control" name="password" maxlength="12" size=31 placeholder="Password" required=""/>
				<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="onClickSignin()">Sign In</button>
			</form>

		</div>
		
	</body>


</html>